{% extends 'season/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for driver in drivers %}
		{% if driver.photo %}
			<p><img class="img-article-left thumb" src = "{{driver.photo.url}}"></p>
		{% endif %}
			<li><h2>{{driver.name}}</h2>
	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{driver.get_absolute_url}}">Читать пост</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}